.card-content-wrapper {
	display: flex;
	gap: 20px;
	flex-direction: column;
	flex-wrap: wrap;
}

.card-content-wrapper .card-content-container {
	display: flex;
	gap: 14px;
}

.user-cards-container {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	justify-content: stretch;
}

.drawer-content-wrapper {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.drawer-content-wrapper .drawer-content-edit {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.drawer-content-wrapper .drawer-content-edit-button {
	display: flex;
	justify-content: center;
}
